body {
   margin: 0;
   padding: 12px;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
     "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
     sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

hr {
   margin: 12px 0 16px 0;
   border: none;
   border-bottom: 1px solid #d1d1d1;
   box-shadow: 0 1px 4px rgb(230, 230, 230);
}


.card {
   position: relative;
   margin: 0 0 16px 0;
   border: 1px solid #ccc;
   border-radius: 3px;
}

.card-title {
   padding: 6px 8px;
   background-color: rgb(233, 233, 233);
   font-weight: bold;
}

.card-title small {
   position: absolute;
   display: block;
   top: 6px;
   right: 6px;
   padding: 4px;
   font-size: 11px;
   background-color: #f2f2f2;
   border-radius: 3px;
}

.card-star {
   display: inline;
   margin: 0 0 0 12px;
}

.card-watch {
   display: inline;
   margin: 0 0 0 12px;
}

.card-body {
   padding: 6px 8px;
}
